<extend name="$_admin_public_layout"/>
<block name="main">
    <div class="row-fluid">
        <table class="table table-bordered table-responsive">

            <thead>
            <tr>
                <th>订单号</th>
                <th>支付金额</th>
                <th>视频编号</th>
                <th>用户编号</th>
                <th>创建时间</th>
                <th>支付状态</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td>{$vo.order_no}</td>
                    <td>{$vo.pay_money}</td>
                    <td>{$vo.video_id}</td>
                    <td>{$vo.uid}</td>
                    <td>{$vo.create_time|times_to_date}</td>
                    <td>
                        <eq name="vo[status]" value="1">
                            <label class="label label-success">已支付</label>
                        </eq>
                        <eq name="vo[status]" value="0">
                            <label class="label label-danger">未支付</label>
                        </eq>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</block>